<h1 mat-dialog-title>Hej!</h1>
<div mat-dialog-content>
  <p>Mam na imię Anita i cieszę się, że udało Ci się uruchomić mój kod :D</p>
  <p>
    Zawodowo zajmuję się programowaniem. Ostatnie kilka lat we vue.js, natomiast
    wcześniej w Angularze. Stęskniłam się za nim trochę, stąd ta mini aplikacja
    :)
  </p>
  <p>
    Czas wolny spędzam raczej aktywnie: fitness, rower, bieganie. A jak nie
    sport to decoupage czy książka :)
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Zamknij</button>
</div>
