.continentsList {

  &__header {
    display: block;
    text-align: center;
  }

  &__option {
    margin: 0.5rem;
    text-align: center;

    &:hover {
      cursor: pointer;
      background: #f6f6f6;
    }
  }
}