<div>
  {{countryDetail[0]?.name.common}}
  <div>
    <img width="200px" src="{{ countryDetail[0].flags.svg }}" alt="">
  </div>
  <ul>
    <li><b>Oficjalna nazwa: </b>{{countryDetail[0]?.name.official }}</li>
    <li><b>Stolica: </b>{{countryDetail[0]?.capital }}</li>
    <li><b>Waluta: </b>{{countryDetail[0]?.currencies | currenciesTransform}}</li>
    <li><b>Populacja: </b>{{ countryDetail[0]?.population | number }}</li>
    <li><b>Język: </b><span>{{ countryDetail[0]?.languages | displayValues }}</span></li>
  </ul>
</div>